/* universal selector */
* {
    padding: 0;
    margin: 0;
}

.headers {
    background: #ffb700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    img{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        cursor: pointer;
    }
}

.container {
    background: #dace;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
}
.container > .btn {
    color: #fff;
    background: #e07e1b;
    outline: none;
    padding: 16px 32px;
    border: 1px solid #e07e1b;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.container > .btn:hover {
    background: #b60000;
    transform:  translateY(-5px);
}

.section {
    background: #ffb700;
    display: flex;
    align-items: center;
}
.section > .children {
    padding: 10px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section > .children > li{
    list-style: none;
    padding: 5px;
    cursor: pointer;
}

.images {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    img{
        width: 200px;
        height: 200px;
        border-radius: 20px;
    }
}


.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #535357;
    color: #fff;
    margin: 5px;
}
.footer > .footer-child {
    gap: 10px;
    padding: 5px;
    li{
        list-style: none;
    }
    li:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.links {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 5px;
    margin-left: 5px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    input, textarea{
        width: 300px;
        outline: none;
        border: 1px solid rgb(82, 214, 82);
        padding: 10px;
        border-radius: 20px;
    }
}
